body {
    font-family: Georgia, serif;
}

.navigation{
    float: right;
    height: 100%;
    margin-top: -70px;
    margin-right: 150px;

}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: #0081d1;
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 30px;
    color: white;
}

.navigation a:hover{
    background-color: gray;
    color: #101010;
}

.header {
   background-color: #0081d1;
   color: #FFFFFF;
   padding: 30px;
   margin: 0 auto;
   font-size: x-large;
}

.content {
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    padding 100;
    border: 2px;
    margin-bottom:100px;
}

.ph1 {
    width: 100%;
	height: auto;
}

.footer {
    margin-top: 400px;
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 0; /* Поля вокруг текста */
    background: #102c54; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    margin: 0;

}

.contacts {
    margin-top: 50px;
	text-align: center;
	text-decoration: none;
}